*{
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif;
    font-size: 18px;
}

body {
    margin: 0;
    font-size: 16px;
}

.container {
    margin: 0 auto;
    max-width: 960px;
    width: 100%;
}

/*navbar*/

header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 15px;
    background-color: white;
    font-size: 18px;
}

header h1{
   float: left;
}

li, a{
    text-decoration: none;
    list-style-type: none;
    float: right;
    padding-right: 5px;
    color: #6b7280;
}

li, a:hover{
    color: #5A67D8;
}

/*overview*/

.overview-hero{
    background-color: #E2E8F0;
    padding: 50px;
}

img[src="meditate.png"]{
    width: 200px;
    height: auto;
    float: left;
    padding: 15px;
}

.overview-hero .container{
    display: center;
    padding: 15px;
}

.overview-hero-text{
    float: center;
    padding: 30px;
}

/*about*/

.learn-about{
    padding: 25px;
}

.learn-about h2{
    color: #48BB78;
    font-size: 24px;
}

.learn-about h3{
    color: #48BB78;
    font-size: 21px;
}

img[src="Intelligence.png"]{
    width: 320px;
    height: auto;
    display: block;
    margin: auto;
    padding-bottom: 15px;
}

img[src="Tracker.png"]{
    width: 300px;
    height: auto;
    display: block;
    padding-bottom: 5px;
    margin: auto;
}

img[src="Lifestyle.png"]{
    width: 300px;
    height: auto;
    display: block;
    margin: auto;
    padding-bottom: 5px;
}

.card{
    border-radius: 5px;
    text-align: left;
    box-shadow: grey;
    border-color: #E2E8F0;
    border: 2px;
    border-style: outset;
    padding: 10px;
    padding-left: 15px;
}

.cards{
    display: grid;
    column-gap: 15px;
    grid-template-columns: 350px 350px 350px;
    padding: 5px;
}

/*testing*/

.testing{
    background-color: #4a5568;
    padding: 40px;
    padding-bottom: 5px;
    height: 200px;
    width:100%;
}
	
.testing .container{ 
	display:flex;
	justify-content: center;
    padding-left: 80px;
    color: white;
}
	
.cta {
    width: 900px;
    margin:auto;
}
	
.cta .btn {
    margin-right: 150px;
	float: right;
	color:white;
	width: 120px;
    text-decoration: none;
    text-align: center;
    padding:10px;
    background-color:#48BB78;
    border-radius: 5px;
}

/*stories*/

.stories{
    padding: 30px;
    justify-content: center;
}

.stories .container{ 
    padding-left: 20px;
}

.stories h2{
    color: #5a67db;
    padding-bottom: 15px;
    padding-left: 50px;
}

.article-body h3{
    font-size: 18px;
    padding: 15px;
}

.article-body p{
    padding: 12px;
}

.article-body a{
    color: #5a67db;
    text-decoration: none;
    float: left; 
    padding-left: 175px;
}

.article-body{
    padding-left: 30px;
    justify-content: center;
    
}

img[src="Man.jpg"]{
    width: 150px;
    height: auto;
    float: left;
    padding: 35px;
    border-radius: 50%;
}

img[src="Laboratory.jpg"]{
    width: 150px;
    height: 1.5in;
    float: left;
    padding: 35px;
    border-radius: 50%;
}

/*newsletter*/

.newsletter{
    background-color: #48BB78;
    color: white;
    padding: 3em;
    text-align: center;
    display: flex;
    text-align: center;
}

.btn{
    background-color: #5A67D8;
    padding: 10px;
    border-radius: 5px;
    border-style: inset;
    border: none;
}

.newsletter input {
    width: 350px;
    height: 40px;
    padding-right: 20px;
    border-radius: 5px;
    border: none;
}

.form-group{
    display:inline-block;
    padding-bottom: 25px;
}

/*footer*/

footer {
    background-color: #4A5568;
    color: white;
    padding: 1em;
}